{% extends 'base.html.twig' %}
{% block body %}
<div>
    <h1>Bands' list</h1>
    <div class="row">
        {% for band in bands %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/' ~ band.getPicture().getName()) }}" class="card-img-top" alt="{{ band.getName() }}">
                <div class="card-body">
                    <h5 class="card-title">{{ band.getName() }}</h5>
                    <p class="card-text">{{ band.getDescription() }}</p>
                    <a href="./{{ band.getId() }}" class="btn btn-primary">Voir</a>
                </div>
                {% if app.user %}
                    {% if app.user.bands.contains(band) %}
                        <a href="{{ path('app_user_favorite_toggle', {'id': band.id}) }}">Remove from favorites</a>
                    {% else %}
                        <a href="{{ path('app_user_favorite_toggle', {'id': band.id}) }}">Add to favorites</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}