{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-8">
                <h1>Prochainement en concert</h1>
                {% for concert in concerts %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ asset('images/' ~ concert.getHall().getPicture().getName()) }}" class="img-fluid rounded-start" alt="{{ concert.getHall().getName() }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ concert.getHall().getName() }}</h5>
                                    <p class="card-text">{{ concert.getDate()|date('Y-m-d H:i') }}</p>
                                    <p class="card-text">{{ concert.getHall().getName() }}</p>
                                    <a href="{{ path('app_concert_concert', {'id': concert.getId()}) }}" class="btn btn-primary">Plus d'infos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="alert alert-info mb-3">
                        Bonjour {{ app.user.name ~ ' ' ~ app.user.lastname }} !
                    </div>
                {% else %}
                    <form method="post">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >
                        <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
