{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-8">
                <h1>Prochainement en concert</h1>
                {% for concert in concerts %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ asset('images/' ~ concert.getHall().getPicture().getName()) }}" class="img-fluid rounded-start" alt="{{ concert.getHall().getName() }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ concert.getHall().getName() }}</h5>
                                    <p class="card-text">{{ concert.getDate()|date('Y-m-d H:i') }}</p>
                                    {% for band in concert.getBands() %}
                                        <p class="card-text">{{ concert.getBand().getName() }}</p>
                                    {% endfor %}
                                    <a href="{{ path('app_concert_concert', {'id': concert.getId()}) }}" class="btn btn-primary">Plus d'infos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="alert alert-info mb-3">
                        Bonjour {{ app.user.name ~ ' ' ~ app.user.lastname }} !
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
